
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}
.avatar-img{
  width:150px;
  border-radius: 50%;
}
.button{
  display: flex;
   align-items: center;
   gap: 20px;

}
.status-text{
  font-size: 1.1rem;
  color: #178d00;
}
.hire{
  padding: 10px;

  font-size: 1.2rem;
  background-color: #C5D89D;
  color: black;
  border-radius: 10px;
  border: none;
}

.availability {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #B8DB80;
  padding: 10px;
  border-radius: 200px;
}

.glow-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #22c55e; /* green */
  box-shadow: 0 0 6px #22c55e;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 6px #22c55e;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 14px #22c55e;
    opacity: 0.7;
  }
  100% {
    box-shadow: 0 0 6px #22c55e;
    opacity: 1;
  }
}


.nav-icon{
  color: #FCF8F8;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px;
border-right: 0.5px solid rgba(255,255,255,0.2);}
.last{
  border-right: none;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 position: fixed; /* sticky works too if you want */
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

nav ul{
border: 0.5px solid rgba(255,255,255,0.2);
margin-top: 50px;
border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

}
nav ul li{
  display: inline-block;
}

#home{
margin-top: 100px;
  padding: 20px 300px;
   min-height: 100vh;
  width: 100%;
   font-family: "Inter", sans-serif;

}
.home-intro{
  font-size: 3.5rem;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 20px;
}

.intro p{
  font-size: 1.1rem;
  font-family: "montserrat", sans-serif;
  margin-bottom: 15px;
}
.overview-img {
  width: 400px;
  max-width: 100%;   /* important for responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px; /* optional */
}
.overview-div {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-dot {
  position: absolute;
  top: 10px;
  left: 10px; /* change to right if you want */
  width: 12px;
  height: 12px;
 background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);  border-radius: 50%;
  z-index: 2;
}
.swiper-slide{
  margin: 15px;
}


#about{
  padding: 20px 300px;
    font-family: "Poppins", sans-serif;
  /* max-height: 100vh; */
}
.about-intro h3{
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.about-text p{
  line-height: 1.2;
  font-size: 1.1rem;
  margin-bottom: 15px;

}
.myself-img{
  margin: 10px auto;
  text-align: center;

}
.myself-img img{
  width:350px;
  height: 300px;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);

}
#projects{
    padding: 100px 300px;
    font-family: "Poppins", sans-serif;

}
.projects-intro{
  text-align: center;
  margin-bottom: 40px;
}
.projects-intro h3{
  font-size: 2.5rem;
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}
.project-card{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(200,200,200,0.2);
}

.project-img img{
  width:350px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.project-img{
  overflow: hidden;
  text-align: center;
}
.project-img img:hover{
  transform: scale(1.1);
}

.project-button button{
  background-color: black;
  padding: 15px;
  border: none;
  color: white;
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#contact{
  padding: 100px 300px;
    font-family: "Poppins", sans-serif;

}
.form{
  margin: 20px auto;
  width: 100%;
}
input{
  width:100%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 1.2rem;
}
.name-email{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width:100%;
}
form{
  width:100%;
}
textarea{

  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: none;
  padding: 20px;
    background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: white;
    font-size: 1.2rem;


}
.submit{
  background-image: url(https://images.unsplash.com/photo-1765046255505-083da4b856c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YSUyMHdoaXRlJTIwdGhlbWVkJTIwYmFja2dyb3VuZCUyMGdyYWRpZW50fGVufDB8fDB8fHww);
  color: black;
  margin-top: 20px;
}

.contact-intro h3{
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.contact-intro p{
  font-size: 1.1rem;
}
.dash{
  width:20px;
  border: solid thin white;
  width:200px;
  margin:20px auto;
}
#footer{
  padding: 0px 300px;
  text-align: center;
  font-family: "Poppins";
}
#footer p{
  font-size: 1.2rem;
}
.footer-links{
  display: inline-flex;
  gap: 20px;
  margin-bottom: 90px;
}
.footer-icon{
  font-size: 25px;
  
}


@media screen and (max-width:1024px) {
nav{
  justify-content: center;
  align-items: center;
  align-content: center;
 position: fixed; /* sticky works too if you want */
  top: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  
}
html, body {
  overflow-x: hidden;
}.hire{
    border-radius: 200px;

}
  #home{

  padding: 20px;
}
.home-intro{
  font-size: 2rem;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.intro p{
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
}


.avatar-img{
  width:100px;
  border-radius: 50%;
  position: relative;
}
.button{
  display: block;

}
.availability{
  position: absolute;
  left: 130px;
  top: 150px;
  font-size: 0.6rem;
}
.overview-img {
  width: 230px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px; /* optional */
}
.overview-div {
  background: none;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 30px;

}

.pin-dot {
  display: none;
}
#about{
  padding: 20px;
    font-family: "Poppins", sans-serif;
  /* max-height: 100vh; */
}
.about-intro h3{
  font-size: 2rem;
}

.about-text p{
  line-height: 1.2;
  font-size: 1rem;

}
.myself-img{
  margin: 10px auto;
  text-align: center;

}
.myself-img img{
  width:300px;
  height: 300px;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);

}



.swiper-slide{
  margin: 0 130px;
}

#projects{
    padding:20px;
    font-family: "Poppins", sans-serif;

}
.projects-intro h3{
  font-size: 2rem;
}

.project-grid{
  display: block;
}

.project-card{
  margin:40px auto;
  width:90%;

}


#contact{
  padding: 20px;
}
.name-email{
  display: block;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width:100%;
}

#footer{
  padding: 20px;
}


}



